// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	background-color: rgba(255,255,255,0.8);
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 10px;
	border-radius: 10px;
}